.separator {
  border: 3px solid rgb(241, 4, 4);
  margin-top: -12px;
}

.wrapper {
  background: -webkit-linear-gradient(rgb(247, 247, 240), rgba(247, 193, 193, 0.7));
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 87px;
}

.tagline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-left: -61rem;
  margin-top: -28px;
  overflow: hidden;
}
.leftmost-tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  margin-top: -8px;
  font-size: 24px;
}
.left-tagline {
  margin-left: -45px;
  font-size: 24px;
  margin-top: 51px;
}

.logo {
  height: 4rem;
  width: 4rem;
  margin: 35px 12px;
  margin-top: 22px;
}
.login{
  background-color: rgb(153, 1, 1);
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin: 10px 40px;
  padding: 8px 38px;
  border-radius: 40px;
  font-weight: bold;
  font-size: 23px;
}
.signup {
  background-color: rgb(153, 1, 1);
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin: 10px 11px;
  padding: 8px 25px;
  border-radius: 40px;
  font-weight: bold;
  font-size: 23px;
}
.login:hover{
  background-color:  rgb(207, 3, 3);
  color: white;
}
.signup:hover{
  background-color: rgb(207, 3, 3);
  color: white;
}
.register-icon{
  padding-left: 10px;
}


@media screen and (max-width:768px) {
  .tagline{
      margin-right: -4rem;
  }
  .login,
  .signup{
    margin: 8px 15px;
    padding: 10px 35px;
    font-size: 1.2rem;
  }
  
}

/* SLIDESHOW */
.slideshow-container,.slideshow-subcontainer{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.slideshow-section{
  margin-top: -8px;
  width: 100%;
  height: 88vh;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  /* animation: change 50s infinite ease; */
  filter: blur(3px);
}

/* .slideshow-section::before{
  content : " ";
  position: absolute;
  top: 0;
  width: 100%;
  height: 88vh;
  background: rgba(0,0,0,0.4);
} */

.content {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -31rem;
}

.website-brochure-button{
  margin: 3rem auto;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  background: -webkit-linear-gradient(rgb(147, 3, 3), rgb(0, 9, 1));
  color: white;
  font-size: 20px;
  border-radius: 20px;
  padding: 15px 16px;
  font-family: 'Times New Roman', Times, serif;

}

.website-brochure-button:hover{
  /* background : -webkit-linear-gradient(rgb(147, 3, 3), rgb(0, 9, 1)); */
  background: rgb(96, 48, 48);
  color: white;
}


/* FOOTER */
/* .footer{
  background-color: rgb(0, 0, 65);
  color: white;
  width: 100%;
  position: relative;
  height: 286px;
}
.footer-nav li{
  display: flex;
  justify-content: center;
list-style-type: none;
}
.footer-nav li a{
  margin-top: -10px;
  margin-bottom: 20px;
  margin: 0 37px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.footer-nav li a:hover{
  color :rgb(180, 180, 249);

}
.footer-separator{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  margin-top: 26px;
  margin-bottom: -129px;
}

.footer-icons{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-left: -3rem;
}
.footer-icons li{
  list-style-type: none;
  display: inline-block;
  margin-top: 36px;
}

.footer-icons li a{
  cursor: pointer;
  margin: auto 20px;
  color: white;
  font-size: 35px;
  color: white;
}

.footer-icons li a:hover{
  color: rgb(180, 180, 249);

}



.footer-rights-reserved{
  display: flex;
  position: absolute;
  left: 43%;
  bottom: 0%;
  align-items: center;
  margin: 2px;
}
.footer-feedback{
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-feedback-input{
  border-radius: 50px;
  margin: 0 690px;
  height: auto;
  width: 20rem;
  font-weight: bold;
  
}

.footer-feedback-button{
  background-color: rgb(252, 90, 117);
  border-radius: 50px;
  padding: 8px;
  height: auto;
  width: 7rem;
  font-size: 14px;
  font-weight: bold;
  color: white;
  position: absolute;
  margin-left: 13rem;
  margin-top : 2px;
} */
/* .footer-desc{
 margin-left: 739px;
 bottom: 3%;
 position: absolute;

} */

/* INFORMATION */



.no_of_users{
  background: -webkit-linear-gradient(rgb(147, 239, 255), rgb(12, 66, 113));
  border-radius: 5px;
  height: 132px;
  width: 335px;
}
.no_of_users h3{
  margin-top: 17px;
}
.no_of_donors h3{
  margin-top: 17px;
}
.l_of_blood h3{
  margin-top: 18px;
}


.no_of_donors{
  background: -webkit-linear-gradient(rgb(147, 239, 255), rgb(12, 66, 113));
  height: 132px;
  width: 335px;
  border-radius: 5px;

}
.l_of_blood{
  background: -webkit-linear-gradient(rgb(147, 239, 255), rgb(12, 66, 113));
  border-radius: 5px;
  height: 132px;
  width: 335px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.no_of_donors,.no_of_users, .l_of_blood h3{
  font-size: 28px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.information-heading{
  background: -webkit-linear-gradient(rgb(35, 241, 214), rgb(154, 15, 73));;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 55px;
  margin-top: 8rem;
}

.funFacts h3{
  background: -webkit-linear-gradient(rgb(35, 241, 214), rgb(154, 15, 73));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 60px;
}
.DYK-slider img{
  border-radius: 25px;
  width: 25rem;
  height: 25rem;
}
.DYK-slider:hover img{
  border-radius: 25px;

}

/* DONATE-REQUEST-goToMap BUTTONS */
.donate-request-gotomap{
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
} 


.donate-blood-button a{
  background-color: rgb(116, 55, 55)  ;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  padding: 30px 50px;
  font-weight: bold;
  font-size: 1.2 rem;
  letter-spacing: 1px;
  transition: 0.5s;
  border: none;
  clip-path: polygon(90% 0%, 100% 50%, 90% 100% ,0% 100%, 10% 50%, 0% 0%);
  
}

.donate-blood-button a:hover{
  background-color: #cf4366;
  color: white;
  letter-spacing: 1px;
  clip-path: polygon(100% 0%, 90% 50%, 100% 100% ,10% 100%, 0% 50%, 10% 0%);
}

.request-blood-button a{
  background-color: rgb(116, 55, 55);
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  padding: 30px 50px;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 1px;
  transition: 0.5s;
  border: none;
  clip-path: polygon(100% 0%, 90% 50%, 100% 100% ,10% 100%, 0% 50%, 10% 0%);

}
.request-blood-button a:hover{
  background-color: #cf4366;
  color: white;
  letter-spacing: 1px;
  clip-path: polygon(90% 0%, 100% 50%, 90% 100% ,0% 100%, 10% 50%, 0% 0%);
}

.go-to-map-button{
  background-color: rgb(26, 36, 95);
  padding: 28px 35px ;
  border-radius: 100px;
  cursor: pointer;
}


.go-to-map-button a{  
  color: rgb(231, 226, 226);
  text-decoration: none;
  font-weight: bold;
  font-size: 34px;
  font-family: 'Times New Roman', Times, serif;
}

.go-to-map-button a:hover{
  color: rgb(118, 116, 116);
}

.search-icon-gotomap{
  margin-bottom: 2px;
  color:rgb(231, 226, 226);
  margin-left: 2rem;
  font-size: 1.5rem;
}

.search-icon-gotomap:hover{
  color: rgb(118, 116, 116);
  cursor: pointer;
}

.request-blood-button a{
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.hospital-name-on-request-form{
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

@font-face {
  font-family: 'mainfont';
  src: url("/src/assets/font/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}



   /* DONATE-REQUEST-goToMap BUTTONS */
  
   .donate-request-gotomap{
    margin: top 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-family: 'mainfont';
  } 
  
  
  .donate-blood-button a{
    background-color:  red; ;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 23px;
    position: relative;
    padding: 30px 50px;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: 0.5s;
    border: none;
    clip-path: polygon(90% 0%, 100% 50%, 90% 100% ,0% 100%, 10% 50%, 0% 0%);
    
  }
  
  .donate-blood-button a:hover{
    background-color: rgb(108, 3, 3);
    color: white;
    letter-spacing: 1px;
    clip-path: polygon(100% 0%, 90% 50%, 100% 100% ,10% 100%, 0% 50%, 10% 0%);
  }
  
  .request-blood-button a{
    background-color:  red;
    cursor: pointer;
    color: white;
    text-decoration: none;
    position: relative;
    padding: 30px 50px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.5s;
    border: none;
    clip-path: polygon(100% 0%, 90% 50%, 100% 100% ,10% 100%, 0% 50%, 10% 0%);
  
  }
  .request-blood-button a:hover{
    background-color: rgb(108, 3, 3);
    color: white;
    letter-spacing: 1px;
    clip-path: polygon(90% 0%, 100% 50%, 90% 100% ,0% 100%, 10% 50%, 0% 0%);
  }
  
  .go-to-map-button{
    background-color: rgb(26, 36, 95);
    padding: 28px 35px ;
    border-radius: 100px;
    cursor: pointer;
  }
  
  

  
  .search-icon-gotomap{
    margin-bottom: 2px;
    color:rgb(231, 226, 226);
    margin-left: 2rem;
    font-size: 1.5rem;
  }
  
  .search-icon-gotomap:hover{
    color: rgb(118, 116, 116);
    cursor: pointer;
  }
  
  .hospital-name-on-request-form{
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

/*RESPONSIVENESS**********************/
/*1430*/
@media only screen and (max-width:1437px){

/*main img and text*/
header{
    display: grid;
    grid-template-rows: 400px 40px 40px 40px 40px;
    grid-template-columns: 500px 900px;
}
.background_1{
  margin-left: 150px;
}
.about-us{
  padding-left: 10px;
  padding-right: 10px;
}


}
/*1000px*/
@media only screen and (max-width:1000px){
/*main img and text*/
header{
  display: grid;
  grid-template-rows: 400px 40px 40px 40px 40px;
  grid-template-columns: 300px 900px;
}
.background_1{
margin-left: 250px;
}
.background_2{
  font-size: 6.5rem;
  }
.about-us{
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.about-us-section{
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  
}
.website-brochure-button{
  border-radius: 20px;
  font-size: 14px;
  font-weight: normal;
}

/*donate and request buttons*/

.donate-request-gotomap{
  margin: top 3.5rem;
} 
.donate-blood-button a{
  font-size:15px;
}
.request-blood-button a{
  font-size:15px;
}
.go-to-map-button{
  padding: 25px 30px ;
  border-radius: 80px;
}


.go-to-map-button a{  
  font-size: 20px;
}
.search-icon-gotomap{
  margin-left: 1.5rem;
  font-size: 1rem;
}

  /*information responsiveness*/
.stats{
  margin-top:2rem;
  margin-bottom: 2rem;
}
.no_of_users{
  height:110px;
  width:220px;
}
.no_of_users h3{
  font-size: 20px;
}
.no_of_users p{
  font-size: 20px;
}
.no_of_users p{
  font-size: 20px;
}

.funFacts h3{
  font-size: 40px;
}
.l_of_blood{
  height:110px;
  width:220px;
}
.l_of_blood h3{
  font-size: 20px;
}
.l_of_blood p{
  font-size: 20px;
}
}
/*670px*/
@media only screen and (max-width:670px){
  html, body{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

/*navbar*/
.navbar-container{
  height: 60px;
}
.right-top-tagline{
  margin-right: 18px;
  font-size: 10px;
  margin-top: -0.8rem;
  color: aliceblue;
}
.right-bottom-tagline{
  margin-left: 40px;
  margin-top: 10px;
  font-size: 10px;
  margin-left: -8rem;
  margin-top: 1.6rem;
}
.middle-tagline {
  margin-right: 8px;
  font-size: 25px;
}
.logo{
  height: 3rem;
  width: 3rem;
  margin: 20px 10px;
}
.login{
  border-radius: 28px;
  margin:8px 2px;
  font-size: 18px;
  font-weight: normal;
  padding: 6px 30px;
}
.signup{
    border-radius: 28px;
    margin:8px 2px;
    font-size: 18px;
    font-weight: normal;
    padding: 6px 30px;
}
    /*main img and text*/
    header{
      display: grid;
      grid-template-rows: 200px 40px 40px 10px 10px;
      grid-template-columns: 200px 900px;
    }
    .background_1{
    margin-left: 300px;
    }
    .background_2{
      font-size: 5rem;
      margin-right: 360px;
      padding-right: 360px;
      }
      .content-title{
        margin-top: -250px;
        font-size: 25px;
      }
    .content-desc1{
      font-size: 20px;
    }
    .about-us{
      font-size: 17px;
    }
    .about-us-section{
      font-size: 13px;
      
    }
    .website-brochure-button{
      border-radius: 15px;
      font-size: 12px;
      font-weight: normal;
    }
/*information responsiveness*/
.stats{
  margin-top:1.5rem;
  margin-bottom: 1.5rem;
}
.no_of_users{
  height:90px;
  width:180px;
}
.no_of_users h3{
  font-size: 18px;
}
.information-heading{
  font-size: 40px;
}
.funFacts h3{
  font-size: 40px;
}
.l_of_blood{
  height:90px;
  width:180px;
}
.l_of_blood h3{
  font-size: 18px;
}
.l_of_blood p{
  font-size: 18px;
}
.no_of_users p{
  font-size: 18px;
}

/*footer responsiveness*/
  .footer{
    height:200px;
  }
  .footer-nav li a{
    font-size: 19px;
  }
  .footer-icons li a{
    font-size: 28px;
  }
  .footer-separator{
    margin-top: 29px;
  }
  .footer-desc{
    font-size: 15px;
    color: black;
    margin-bottom: 3px;
    /* margin-left: 200px; */
    text-align: center;
  }
  .footer-rights-reserved{
    margin-left: 200px;
    margin-top: 240px;
    font-size: 15px;
  }
  .footer-feedback-input{
    width:15rem;
  }
  

}
/*530px*/
@media only screen and (max-width:530px){
  html, body{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .background_2{
    font-size: 4.4rem;
    margin-right: 440px;
    padding-right: 360px;
    }
    .about-us{
      padding-left: 10px;
      padding-right: 10px;
    }
    .about-us-section{
      padding-left: 10px;
      padding-right: 10px;
    }
    .about-us{
      font-size: 15px;
    }
    .about-us-section{
      font-size: 10px;
      
    }
    .website-brochure-button{
      border-radius: 10px;
      font-size: 8px;
      font-weight: normal;
    }
/*information responsiveness*/
.stats{
  margin-top:1.5rem;
  margin-bottom: 1.5rem;
}
.no_of_users{
  height:80px;
  width:160px;
}
.no_of_users h3{
  font-size: 17px;
}
.information-heading{
  font-size: 40px;
}
.funFacts h3{
  font-size: 40px;
}
.l_of_blood{
  height:80px;
  width:160px;
}
.l_of_blood h3{
  font-size: 17px;
}
.l_of_blood p{
  font-size: 17px;
}
.no_of_users p{
  font-size: 17px;
}
}

/*smaller*/
/*470*/
@media only screen and (max-width:470px){
  html, body{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .about-us{
    padding-left: 10px;
    padding-right: 10px;
  }
  .about-us-section{
    padding-left: 10px;
    padding-right: 10px;
  }
  .about-us{
    font-size: 10px;
  }
  .about-us-section{
    font-size: 8px;
    
  }

.logo{
  height: 2.5rem;
  width: 2.5rem;
  margin: 18px 8px;
}
.login{
  border-radius: 25px;
  margin:6px 2px;
  font-size: 15px;
  font-weight: normal;
  padding: 5px 28px;
}
.signup{
    border-radius: 25px;
    margin:6px 2px;
    font-size: 15px;
    font-weight: normal;
    padding: 5px 28px;
}

    /*main img and text*/
    header{
      display: grid;
      grid-template-rows: 150px 40px 40px 10px 10px;
      grid-template-columns: 150px 900px;
    }
    .background_1{
    margin-left: 340px;
    }
    .background_2{
      font-size: 3rem;
      margin-right: 550px;
      padding-right: 400px;
      }
      .content-title{
        margin-top: -350px;
        font-size: 18px;
      }
    .content-desc1{
      font-size: 13px;
    }
  /*information responsiveness*/
.stats{
  margin-top:1rem;
  margin-bottom: 1rem;
}
.no_of_users{
  height:60px;
  width:140px;
}
.no_of_users h3{
  font-size: 12px;
}
.no_of_users p{
  font-size: 12px;
}
.information-heading{
  font-size: 28px;
}
.funFacts h3{
  font-size: 36px;
}
.l_of_blood{
  height:60px;
  width:140px;
}
.l_of_blood h3{
  font-size: 12px;
}
.l_of_blood p{
  font-size: 12px;
}
/*footer responsiveness*/
  .footer{
    height:200px;
  }
  .footer-nav li a{
    font-size: 15px;
  }
  .footer-icons li a{
    font-size: 20px;
  }
  .footer-separator{
    margin-top: 18px;
  }


  .footer-desc-and-rightsReserved{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-feedback-input{
    width:8rem;
  }

}

@media only screen and (max-width:366px){
      /*main img and text*/
      header{
        display: grid;
        grid-template-rows: 120px 40px 40px 10px 10px;
        grid-template-columns: 100px 900px;
      }
      .background_1{
      margin-left: 400px;
      }
      .background_2{
        margin-top: 250px;
        font-size: 2.5rem;
        margin-right: 550px;
        padding-right: 400px;
        }
        .content-title{
          margin-top: -450px;
          font-size: 10px;
        }
      .content-desc1{
        font-size: 8px;
      }
      .about-us{
        padding-left: 10px;
        padding-right: 10px;
      }
      .about-us-section{
        padding-left: 10px;
        padding-right: 10px;
      }
}

